* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.panel {
    height: 100vh;
    border: solid 1px white;
    display: inline-block;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    padding: 5px;
}

#input {
    left: 0;
    z-index: 10;
    width: 40px;
    text-align: center;
    padding: 0;
    background-color: black;
}

#output {
    right: 0;
    z-index: 9;
    background-color: black;
    font-size: 14px;
    width: calc(100vw - 40px);
}

.widget {
    background: white;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    border: solid 1px lightgrey;
}

.widget h4 {
    font-family: Verdana;
    color: grey;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.widget input {
    padding: 5px;
    font-size: 12px;
    width: 100%;
}

.widget button {
    padding: 5px;
    font-size: 14px;
    display: block;
    margin: auto;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.widget button:hover, .widget button:active {
    color: limegreen;
}

.output-input {
    color: limegreen;
}

.output-input::before {
    content: "> "
}

.output-output {
    color: white;
}

.output-error {
    color: red;
}

#output a {
    color: inherit;
    font-weight: bold;
}

#reload {
    position: fixed;
    z-index: 100;
    top: 1px;
    right: 1px;
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

#reload:hover, #reload:active {
    color: limegreen;
}